<!DOCTYPE html>
<html>
<head>
	<title>hello express</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<fieldset>
 <div class = "wrapper">
  <form action ="/users" method="post">
    Name: <input type="text" name="name"><br>
    Age:  <input type="text" name="age"><br>
  </form>
  <div>
</fieldset>
  
</body>
</html>