<!DOCTYPE html>
<html>
<head>
	<title>hello express</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <fieldset>

  <div class = "submitted_info">
    <p style=""> Submitted Information: </p>
    <h3> Name: <%= name %> </h3>
    <h3> Dojo Location: <%= location %> </h3>
    <h3> Favorite Language: <%= language %></h3>
    <h3> Comment: <%= comment %> </h3>
  </div>

  <a href="/"> Go Back </a>

  </fieldset>
  
</body>
</html>