<!DOCTYPE html>
<html>
<head>
	<title>Create page</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<fieldset>
 	<h1> Create a new fish ! </h1>
 		<form action="/mongoose/new", method="POST">
 			Name: <input type="text" name="name"><br>
 			Color: <input type="text" name="color"><br>
 			Age: <input type="text" name="age"><br>
 			<button> Submit </button>
 		</form>

 	<a href="/"> Take me to Main Page </a>
</fieldset>
</body>
</html>