<!DOCTYPE html>
<html>
<head>
	<title>Index page</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<fieldset>
 	<h1> Displaying information on one Fish by ID </h1>
 	<h3> Name: <%= fish.name %></h3>
 	<h3> Color: <%= fish.color %></h3>
 	<h3> Age: <%= fish.age %></h3>

 	<a href="/"> Take me to the Main Page </a>
</fieldset>
</body>
</html>